body {
  padding-top: 20px;
  padding-bottom: 40px;
}
.container {
  width: 960px;
}
p.lead {
  padding-top: 15px;
}
.navigation, .pitch, .section1, .section2, .faq, .footer {
  padding: 10px 0px 10px 0px;
}
.video, .thermometer, .order, .social {
  border: 1px dotted;
  text-align: center;
}
.video {
  /* Internal borders have 1px width, thus need to add 4 x 1px to 120px. */
  height: 124px;
  line-height: 124px;
}
.thermometer, .order, .social {
  /* line-height to vertically center: http://phrogz.net/css/vertical-align/index.html */
  height: 40px;
  line-height: 40px;
}
div.row {
  border: 1px solid;
}